:root
  --font-family "system-ui", "proxima-nova", "proxima nova", "helvetica neue", "helvetica", "arial", sans-serif
  --text-size 14px
  --text-height 28px
  --text-color #3c4b62
  --title-color #000
  --border-color #ececec // #e6e6e6
  --border-radius 30px
  --primary-color #0069ff
  --primary-alt-color lighten(#0069ff, 90%)
