@tailwind preflight
@tailwind components
@tailwind utilities

@import "./config"
@import "./data"
@import "./navigation"
@import "./layout"

body
  font-family var(--font-family)
  font-size var(--text-size)
  line-height var(--text-height)
  color var(--text-color)
  background-color var(--bg-color)
  font-weight var(--font-weight)

.h1, .h2, .h3, .h4
  color var(--title-color)

.h2
  font-size 27px

.h3
  font-size 21px
  font-weight 600

.h4
  font-weight 600
  font-size inherit

.el-tag
  border none
  margin-top 15px
  color var(--primary-color)

.el-notification__content
  text-align left
  font-size 0.85rem

.el-date-editor .el-range-input,
.el-input__inner
  &::placeholder
    color var(--muted-color)

.dangerous-confirmation
  .el-button--primary
    &
      background-color var(--dangerous-color)
      border-color var(--dangerous-color)
    &:focus, &:hover
      background-color var(--dangerous-alt-color)
      border-color var(--dangerous-alt-color)

.el-input,
.el-button,
.el-input__inner,
.el-tabs__item
  font-size 0.85rem
  // font-size var(--text-size)

.el-button--mini,
.el-button--small
  font-size 0.8rem

.el-button--text, a
  color var(--primary-color)

a
  text-decoration none

.v-modal
  opacity 0.85
  background-color #ececec
.el-dialog
  box-shadow none
  border-radius 3px
  &:not(.is-fullscreen)
    margin-top 10vh !important
.el-dialog__body
  padding-top 10px

.el-button--primary,
.el-switch.is-checked .el-switch__core
  border-color var(--primary-color)
  background-color var(--primary-color)

.el-tabs__item.is-active,
.el-switch__label.is-active
  color var(--primary-color)

.el-tabs__active-bar
  background-color var(--primary-color)

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover
  background-color var(--primary-alt-color)
  color var(--primary-color)

.el-input__inner
  border-radius var(--border-radius)
  border-color var(--border-color)

.el-button
  border-radius var(--border-radius)
  font-weight 300
