.el-menu
  height 100%
  border-right none
  border-top 1px solid var(--border-color)

.breadcrumb-bar
  padding 15px 30px
  border-bottom 1px solid var(--border-color)
.el-breadcrumb
  font-size 13px
.el-breadcrumb__inner:hover
  color var(--primary-color)
  cursor pointer

.el-dropdown
  font-size 17px
.dropdown-menu-delete
  color var(--dangerous-color)

.el-submenu
  .el-menu-item
    padding-left 50px !important
    line-height 35px
    height 35px
    &:last-of-type
      margin-bottom 10px

i.menu-icon
  font-size 23px
  margin-right 10px
  color var(--title-color)

.el-tabs__header
  margin-bottom 10px
.el-tabs__nav-wrap::after
  height 1px
  background-color var(--border-color)
