.el-menu, .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover
  background-color inherit

.el-menu
  border-right none
  // border-top 1px solid var(--border-color)

// .breadcrumb-bar
  // padding 15px 30px
  // border-bottom 1px solid var(--border-color)
.el-breadcrumb
  font-size 13px
  padding-left 2px
  padding-right 2px
.el-breadcrumb__inner:hover
  color var(--primary-color)
  cursor pointer

.el-dropdown
  font-size 17px
.dropdown-menu-delete
  color var(--dangerous-color)

.el-submenu
  .el-menu-item
    padding-left 50px !important
    padding-right 0
    line-height 35px
    height 35px
    min-width auto
    &:last-of-type
      margin-bottom 10px

i.menu-icon
  font-size 23px
  margin-right 10px
  color var(--nav-text-color)

.el-menu-item,
.el-submenu__title
  color var(--nav-text-color)
  transition none
  font inherit
  line-height 56px
  &.is-active
    &, i.menu-icon
      color var(--primary-color)
  &:hover
    &:not(.is-active)
      &, i.menu-icon
        color var(--nav-text-hover-color)

.el-menu-item:focus,
.el-menu-item:hover,
.el-submenu__title:hover
  background-color transparent
  // background-color var(--bg-color)

.el-tabs__header
  margin-bottom 10px
.el-tabs__nav-wrap::after
  height 1px
  background-color var(--border-color)
.el-tabs__content
  position static
