@media print
  .app_aside,
  .search-form,
  .el-header:before,
  .el-header:after,
  .el-pagination,
  .el-footer,
  .breadcrumb-bar,
  .avatar,
  .page-controls,
  .el-table-column--selection,
  .el-dropdown,
  .dialog_sidebar
    display none !important
  #app
    padding-left 0 !important
  .el-header
    background-image none !important
    color #000 !important
    padding 0 0 20px 0 !important
  .el-table td
    padding 0 !important
    background none !important
    border none !important
  .el-table tr
    box-shadow none !important
  .small
    opacity 1 !important
    font-weight 400 !important
  .content
    padding 0 !important
  .el-tabs__header
    margin 0 0 20px 0 !important
  .el-table .cell
    white-space nowrap !important
    word-break normal !important
