@media print
  .app_aside,
  .search-form,
  .el-header:before,
  .el-header:after,
  .el-pagination,
  .el-footer,
  .breadcrumb-bar,
  .avatar,
  .page-controls,
  .el-table-column--selection,
  .el-dropdown,
  .dialog_sidebar,
  .no-print
    display none !important
  #app
    padding-left 0 !important
  .el-header
    background-image none !important
    color #000 !important
    padding 0 0 20px 0 !important
  .small
    opacity 1 !important
    font-weight 400 !important
  .content
    padding 0 !important
  .el-tabs__header
    margin 0 0 20px 0 !important

  .el-table .cell
    white-space nowrap !important
    word-break normal !important

  .el-table td
    padding 0 !important
    background none !important
    border none !important
  .el-table tr,
  .el-table th
    box-shadow none !important
    min-height 35px
    flex 1

  .el-table td,
  .el-table th
    flex 1

  .el-table__body,
  .el-table__footer,
  .el-table__header,
  col
    width auto !important
    flex-direction column
    flex 1

  .el-table__body,
  .el-table__footer,
  .el-table__header,
  .el-table__body-wrapper,
  .el-table__footer-wrapper,
  .el-table__header-wrapper,
  .el-table tr
    display flex

  .events-participants-list-table
    th, td
      &:nth-child(3)
        display none

  .events-startlist-list-table
    th, td
      &:nth-child(2)
        display none

  .events-divisions-contestants-list-table
    th, td
      &:nth-child(4)
        display none

  .events-results-list-table
    th, td
      &:nth-child(5)
        display none
      &:nth-child(7) .cell
        overflow visible
